*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica, Arial, sans-serif;
}

.google-logo{
    width: 300px;
    display: block;
    margin: 5rem  auto 1rem auto;
}
input{
    margin: 1rem auto;
    display: block;
    width: 500px;
    border-radius: 20px;
    padding: .4rem;
    border: 1px solid grey;
   
}
input[type=search]{
    padding-left: 1.5rem;

}
.btn{ 
    
    background: #dfe1e5;
    margin: 1rem;
    width: 200px;
    border: 1px solid grey;
    padding: .4rem;
    border-radius: 8px;
    
}
.paragraph{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 500px) {
   
    .google-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;       
    }
    input{
        width: 50%;
        display: flex;
        align-items: center;
    }
    input[text]{
        display: none;
    }
    .paragraph{
     
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
    }
   
    
}
